body{ 
    background-image: url("Images/Bild\ kroatien.jpg");
    background-repeat: repeat-y;
    background-size:cover;
}
h1{
    color:aqua
}
h1{
    text-align:center;
}
a{ 
    color:black;
    font-size:200%;
}
