<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bilder</title>
    <link rel="stylesheet" href="../Styles/Bilder.css">
</head>
<body>
    <img src="../Images/Bild kroatien 1.jpg" alt="Bild från Kroatien">
    <img src="../Images/Bild kroatien 2.jpg" alt="Bild från Kroatien">
    <img src="../Images/Bild Kroatien 3.jpg" alt="Bild från Kroatien">
    <img src="../Images/Bild Dublin.jpg" alt="Bild från Dublin">
    <img src="../Images/Bild London.jpg" alt="Bild från London">
    <img src="../Images/Bild Nice.jpg"
    alt="Bild från Nice">    
</body>

</html>