<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Janes hemsida</title>
    <link rel="stylesheet" href="../Styles/Homepage.css">
    
</head>

<body>
    <h1> Välkommen</h1>
    <div class= "flex-container">
        <div><a href="Om-mig.html" target="_blank"> <b> Om mig </b> </a> </div>
       <div> <a href="Bilder.html" target="_blank"> <b> Bilder </b></a> </div>
       </div>

</body>
</html>