<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Om mig</title>
    <link rel="stylesheet" href="../Styles/Om-mig.css">
    
</head>
<body>
    <h1> Om mig </h1>
    <p> Mitt namn är Jane och jag 27 år gammal. <br>
        Innan jag började studera till fronted utvecklare arbetade jag som sjuksköterska. <br> 
        När jag inte studerar eller jobbar tycker jag om att resa och umgås med vänner och familj. <br>
        I somras reste jag till Nice, Cannes, Monaco samt Dublin. Mina topp tre resemål som jag vill besöka är <br>
    <img src="../Images/Bild på mig.jpg" alt="Bild på mig">

    <ul>
            <li> New york </li>
            <li> Maldiverna</li>
            <li> Australien </li>
        </ul>
    </p>
    
    <h2> Kontakta mig</h2>
        <form>
        Namn <input type="Namn" id="fname" name="fname">
        </form>
    <form>
         <textarea> Skriv ditt meddelande</textarea>
    </form>

    <form>
        
         <input type="Skicka meddelande" name="Skicka meddelande" value="Skicka meddelande"/>
        
        </form>
        
</body>
</html>