body{ 
    background-image: url("../Images/Bild\ kroatien.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
   }
   
   @media(min-width: 450px) {
}

h1{
    color:aqua;
    text-align:center;
    font-size: 50px;    
}
a{ 
    color:black;
    font-size: 50px;
}

